* {
  border: none;
  border-radius: 10px;

  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  
  min-height: 10px;

  border: none;
  margin: 5px;
  background-color: transparent;
}


/*
  MAIN BAR MODULES
*/
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#bluetooth,
#custom-power,
#custom-spotify-metadata {
  color: #cad3f5;
  padding: 10px;
  background-color: #1e2030;
}

#custom-power {
  padding-right: 12px;
  padding-left: 10px;
  color: #b7bdf8;
}

#custom-spotify-metadata {
  border-radius: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

#bluetooth.on {
  color: #8aadf4;
}
#bluetooth.off {
  color: #939ab7;
}

/*
  POWER MENU BAR
*/

.powermenu {
  color: #b7bdf8;
  background-color: #24273a;
}

#custom-power-shutdown,
#custom-power-reboot,
#custom-power-logout,
#custom-power-hibernate {
  font-size: 20px;
}
